.bg-body-tertiary {

    padding: 0;
    background-color: #1C1C1E !important;
    border-bottom: 3px solid var(--vermelho);
}

.navbar {

    padding: 0 !important;
}

.box {
    text-align: center;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.button_nav {

    width: 150px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--vermelho) !important;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    transition: var(--transition) !important;
}

.actives {

    background: var(--salmao) !important;
    color: #ffffff !important;
    border: 2px solid var(--salmao) !important;
}

.button_nav:hover,
.actives:hover,
.nav_link:nth-child(-n + 5):hover {

    border-bottom: 2px solid #ffffff !important;
    background: transparent !important;
    color: #ec5e67 !important;

}

.nav {
    width: 100%;
    gap: 10px;
}

.nav_link {
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: var(--transition) !important;
}

@media screen and (max-width: 1024px) {
    .nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
}