.container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cols {
    max-width: 320px !important;
}


.title {
    color: rgba(255, 255, 255, 0.33) !important;
    font-size: 1rem !important;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box>div {
    gap: 8px;
}

.box p {
    font-weight: 600;
}

.box_image {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    border: 5px solid var(--vermelho);
    color: white !important;
    margin-bottom: 5px;
}

.box_image img {

    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.box_image svg {

    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.line {
    margin-top: 8px;
    margin-bottom: 8px;
    background: white;
    width: 100%;
    height: 2px;
    border-radius: 100px;
}

.box_text {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.active {
    cursor: pointer;
}


.box_text span {

    width: 50%;
    transition: 0.5s !important;
}


.box_text span:hover {
    color: var(--vermelho);
}

.box_graf {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 20px;

}

.visualization {
    display: none;
}

.section_none {
    display: block;
}

.card_graf {

    width: 100%;
    color: aliceblue;
    background: #1D1D1D !important;
    box-shadow: 3px 8px 4px rgba(0, 0, 0, 0.25);
}

/* input file */
input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom_file_button {
    cursor: pointer;
    transform: 0.5s !important;
    position: relative;
}

.custom_file_button:hover::after {
    content: "Atualizar imagem";
    position: absolute;
    top: 20%;
    left: 0;
    background-color: var(--preto);
    padding: 5px;
    border-radius: 100px;
}


@media screen and (max-width: 1100px) {
    .box_text {
        width: 90%;

    }

    .cols {
        max-width: 100% !important;
    }

    .box_graf {
        grid-template-columns: 1fr;
    }

    .container {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .visualization {
        display: flex;
    }

    .section_none {
        display: none;
    }

}

@media screen and (max-width: 770px) {
    .box_text {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .cols {
        max-width: 100% !important;
    }

    .box_graf {
        grid-template-columns: 1fr;
    }

    .container {
        display: grid !important;
        grid-template-columns: 1fr;
    }

    .visualization {
        display: none;
    }

    .section_none {
        display: flex;
    }

}