main {

    display: flex;
    width: 100vw;
    height: 100vh;
}

.col {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_form {

    width: 100%;
    padding: 40px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h1 {
    text-align: center;
    text-transform: uppercase;
}

/* inputs */
.input-container {
    position: relative;
    margin: 35px auto;
    width: 100%;
}

.input-container input::placeholder {
    color: gray;
}

.input-container input {
    font-size: 20px;
    width: 100%;
    border: none;
    color: #ffffff !important;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #ffffff !important;
}

.input-container input:focus {
    background-color: transparent;
    box-shadow: unset;
    border-bottom: 2px solid var(--vermelho);
}

.labels {
    margin-top: -20px;
    left: 0;
}

.pass {
    display: block;
}

.input-container input:focus,
.input-container input:valid {
    border-bottom: 2px solid var(--vermelho);
}

.button {
    width: 30%;
    height: 60px;
}

.help_pass {

    color: #ccc;
    text-align: end;
    cursor: "pointer";
    transition: var(--transition);
}

.help_pass:hover {

    color: var(--vermelho);
}

.box_button {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }
}