.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow-y: hidden;
}

.container {
    width: 100%;
    background: var(--preto);
    border-radius: 16px;
    box-shadow: 10px 4px 30px rgb(115 107 107 / 0.3);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.47);
    padding: 30px;
}

/* Inputs */

.box_form {

    width: 100%;}

.form {
    display: flex;
    flex-direction: column;
}

.form h1 {
    text-align: center;
    text-transform: uppercase;
}

/* inputs */

.input-container {
    position: relative;
    margin: 20px auto;
    width: 100%;
}

.input-container select::placeholder,
.input-container input::placeholder {
    color: gray;
}

.input-container select,
.input-container input {
    font-size: 20px;
    width: 100%;
    border: none;
    color: #ffffff !important;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container select:focus~.label,
.input-container select:valid~.label,
.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #ffffff !important;
}

.input-container select:focus,
.input-container input:focus {
    background-color: transparent;
    box-shadow: unset;
    border-bottom: 2px solid var(--vermelho);
}

.input-container select:focus
.input-container select:valid,
.input-container input:focus,
.input-container input:valid {
    border-bottom: 2px solid var(--vermelho);
}

option {
    color: black;
}