@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --branco: #F0F0F0;
    --cinza: #E6E6E6;
    --prata: #C0C0C0;
    --preto: #1C1C1E;
    --preto-secundario: #2C2C2E;
    --preto-tom-menor: #3A3A3C;
    --salmao: #FF3B47;
    --rosa: #FF6E77;
    --vermelho: #FF0817;
    --background: url('https://fittech500.blob.core.windows.net/imagens-spectrum/BackGround.svg');

    --transition: 0.5s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    color: var(--branco);
    font-size: 16px;
    text-decoration: none !important;
}

body {
    background-image: var(--background);
    background-color: black !important;
    font-family: 'Archivo', 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.4rem;
    font-family: 'Archivo';
}

h2 {
    font-size: 1rem;
    font-family: 'Open Sans';
}

ol,
ul {
    padding: 0 !important;
}

.Toastify__toast-body>div:last-child {

    color: #1C1C1E;
    font-weight: 600;
}

.modal-content {
    background: unset !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none !important;
}

.base-Popper-root {
    fill: #1C1C1E !important;
}

.css-r9uhzn {

    background-color: #FF3B47 !important;
}

.css-rbnde3 {
    background: #1C1C1E !important;
}

tr:last-of-type.css-hqneie-MuiChartsTooltip-row td,
.css-1q4zyjn,
.css-1q4zyjn.MuiChartsTooltip-valueCell,
.css-mbfek {
    color: white !important;
}

.container {
    max-width: 95% !important;
}

.carousel-inner {
    width: 80% !important;
}

.p-float-label:has(input:focus) label {

    top: -0.20rem;
}

.p-icon-field>.p-input-icon {
    top: 5px;
}

.p-password-panel {
    background: var(--preto-secundario);
    padding: 0 20px;
    z-index: 10000 !important;
}

::-webkit-scrollbar {
    scrollbar-width: thin !important;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--preto-secundario);
    border-left: 1px solid var(--preto);
}

::-webkit-scrollbar-thumb {
    background-color: var(--vermelho);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .carousel-inner {
        width: 100% !important;
    }
}