.container_section_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 2rem 4rem;
    width: 100%;
}

.info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_box>* {
    margin-bottom: 0.5rem;
}

.info_img {
    width: 100px;
    margin-bottom: 1rem;
}

.info_title {
    font-size: 1.4rem;
    font-family: 'Archivo';
    font-weight: bolder;
    text-align: center;
}

.info_subtitle {
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: lighter;
    text-align: center;
}

.container_section_solution {
    padding: 4rem 4rem 0rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--preto-secundario);
}

.container_section_solution>* {
    margin-bottom: 2rem;
}

.solution_title {
    font-size: 3rem;
    font-family: 'Archivo';
    font-weight: bolder;
    text-align: start;
}

.solution_title2 {
    font-size: 1.4rem;
    font-family: 'Archivo';
    font-weight: bolder;
    text-align: start;
}

.solution_subtitle {
    font-size: 1rem;
    font-family: 'Archivo';
    font-weight: lighter;
    text-align: start;
}

.grid_solution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.solution_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin-right: 10%;
}

.solution_img {
    width: 50%;
}

.container_section_solution_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
}

.container_section_solution_mobile>* {
    margin-bottom: 2rem;
}

.solution_mobile_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.solution_mobile_img {
    width: 30%;
}

.container_section_faq {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 12rem 4rem 12rem;
    flex-direction: column;
    background-color: var(--preto-secundario);
}

.container_section_faq>* {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .container_section_info {
        flex-direction: column;
        padding: 2rem;
    }
  
    .info_box {
      align-items: center;
    }
  
    .info_img {
      width: 80px;
      margin-bottom: 0.5rem;
    }
  
    .info_title {
      font-size: 1.2rem;
    }
  
    .info_subtitle {
      font-size: 0.8rem;
    }
  
    .container_section_solution {
      padding: 2rem;
    }
  
    .solution_title {
      font-size: 2rem;
    }
  
    .solution_title2 {
      font-size: 1rem;
    }
  
    .solution_subtitle {
      font-size: 0.8rem;
    }
    .grid_solution {
        flex-direction: column;
    }
  
    .solution_img {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .container_section_solution_mobile {
      padding: 2rem;
    }
  
    .solution_mobile_img {
      width: 80%;
      margin-bottom: 1rem;
    }
  
    .solution_mobile_main {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .container_section_faq {
      padding: 2rem;
    }
  }
  