.secondaryHeadline {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}

button {
    background-color: transparent;
    text-align: start;
}

.sectionText {
    border-left: 3px solid var(--cinza);
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 48px;
    gap: 1.5rem;
    transition: var(--transition) !important;
}

.solution_mobile_subtitle {
    font-size: 1rem;
    font-family: 'Archivo';
    font-weight: lighter;
    text-align: start;
    width: 80%;
    display: none;
    flex-direction: column;
    gap: 2rem;
    transition: var(--transition) !important;
}

.sectionText.active .solution_mobile_subtitle {
    display: flex;
    transition: var(--transition) !important;
}

.sectionText.active {
    border-left: 3px solid var(--vermelho);
    transition: var(--transition) !important;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Open Sans';
}

@media screen and (max-width: 768px) {
    .col {
      width: 100%;
    }
  
    .sectionText {
      padding: 8px;
    }
  
    .solution_mobile_subtitle {
      width: 100%;
      font-size: 0.9rem;
    }
  }
  