.carousel_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
}

.carousel_caption_h3 {
    font-size: 32px;
    color: var(--branco);
    font-family: 'Archivo';
    text-shadow: 2px 2px 4px #000000;
}

.carousel_caption_p {
    font-size: 16px;
    color: var(--cinza);
    font-family: 'Open Sans';
    text-shadow: 2px 2px 4px #000000;
}

.carousel_img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: opacity(0.8);
}