.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle {
    font-size: 1.4rem;
}

.sub_tittle {
    font-size: 1rem;
}

.sub_tittle_red {
    font-size: 1rem;
    color: var(--rosa);
}

.bolder {
    font-weight: 900;
    font-size: 1.44rem;
}